{
	"presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@utils": "./utils",
        "@": ".",
        "@scene": "./scene",
        "@sass": "./sass",
      }
    }]
  ]
}